pipeline/testpipeline.json
{
	"name": "testpipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT 'customer' AS table_name, 'FULL' AS load_type\nUNION ALL\nSELECT 'sales', 'INCREMENTAL'\nUNION ALL\nSELECT 'employee', 'FULL'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sql_db_dataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@if(\n    equals(item().load_type,'FULL'),\n    concat(item().table_name,' is FULL LOAD'),\n    concat(item().table_name,' is INCREMENTAL LOAD')\n)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "mess",
											"value": {
												"value": "@if(\n    equals(item().load_type,'FULL'),\n    concat(item().table_name,' is FULL LOAD'),\n    concat(item().table_name,' is INCREMENTAL LOAD')\n)",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"valueprint": {
				"type": "String"
			},
			"mess": {
				"type": "String"
			}
		},
		"annotations": []
	}
}